/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
input, .btn, select{
  border-radius: 30px !important;
}
.card.selection, a, select, .form-check-input, .floating-label{
  cursor: pointer !important;
}

.pcoded-navbar.navbar-collapsed li.list-group-item span{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.pcoded-main-container{
  margin-left: 0px !important;

}
