<div class="auth-wrapper">
	<div class="auth-content text-center">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
          <div class="card-header">
            <div class="text-center">
							<img class="card-img-top rounded" src="../assets/images/Ico.png" alt="Card image cap" style="width: 10rem;">
						</div>
          </div>
					<div class="card-body">
            <form [formGroup]="formLogin">
              <input type="email" hidden>
              <input type="password" hidden>

              <div class="form-group mb-3">
                <input (keyup)="Clean()" type="email" class="form-control" id="Email" placeholder="Correo electrónico" formControlName="Email" name="Email" [(ngModel)]="Login.Email">
              </div>
              <div class="form-group mb-4">
                <input (keyup)="Clean()" type="password" class="form-control" id="Password" placeholder="Contraseña" formControlName="Password" name="Password" [(ngModel)]="Login.Password">
              </div>
              <button class="btn btn-block btn-primary mb-4" (click)="SignIn()" [disabled]="!formLogin.valid || loading">Inicar sesión</button>
              <div *ngIf="!formLogin.valid"><p class="text-danger">*Debe ingresar un Correo Válido y una Contraseña de almenos {{minLength}} caracteres</p></div>
              <div><p class="text-danger" *ngIf="Login.Error">{{Login.Message}}</p></div>

              <div class="d-flex justify-content-center"  *ngIf="loading">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden" hidden>Loading...</span>
                </div>
              </div>
              <hr>
              <!-- <p class="mb-2 text-muted">Olvidé mi contraseña <a href="auth-reset-password.html" class="f-w-400">Recuperar</a></p> -->
              <p class="mb-0 text-muted">No tengo cuenta <span (click)="UserRegister()" class="f-w-400">Crear</span></p>
            </form>
				</div>
			</div>
		</div>
	</div>
</div>
