<!-- [ breadcrumb ] start -->
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <!-- <div class="page-header-title">
          <h5 class="m-b-10">BioRuta</h5>
        </div> -->
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a (click)="Home()"><i class="feather icon-home"></i></a></li>
          <li class="breadcrumb-item"><a (click)="List()">Administración Recolecciones</a></li>
          <li class="breadcrumb-item"><a >{{edit ? "Editar" : "Agregar" }} Recolección</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- [ breadcrumb ] end -->
<!-- [ Main Content ] start -->


<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h5>{{edit ? "Editar" : "Agregar" }} Recolección</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="formEdit">
        <input type="email" hidden>
        <input type="password" hidden>

        <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label class="floating-label" for="RegistrationDate">Fecha de registro</label>
              <input type="text" class="form-control" id="RegistrationDate" formControlName="RegistrationDate" name="RegistrationDate" [(ngModel)]="Collect.RegistrationDate">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="floating-label" for="Client.Name">Cliente</label>
              <input type="text" class="form-control" id="Client.Name" formControlName="ClientName" name="Client.Name" [(ngModel)]="Collect.Client.Name">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="floating-label" for="State.Name">Estado</label>
              <input type="text" class="form-control" id="State.Name" formControlName="StateName" name="State.Name" [(ngModel)]="Collect.State.Name">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="floating-label" for="Addres">Dirección</label>
              <input type="text" class="form-control" id="Addres" formControlName="Addres" name="Addres" [(ngModel)]="Collect.Addres">
            </div>
          </div>

        </div>

        <div class="table-responsive">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th>Nombre de Producto</th>
                <th>Cantidad</th>
                <th>Puntaje</th>
                <th>Medida</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of Collect.Products">
                <td>{{p.Product.Name}}</td>
                <td>{{p.Amount}}</td>
                <td>{{p.Product.Score}}</td>
                <td>{{p.Measure.Name}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- <div *ngIf="!formEdit.valid"><p class="text-danger text-center">*Debe ingresar un Correo Válido, un Nombre de Usuario de almenos {{minLength}} caracteres, y un Rol</p></div>
          <div><p class="text-danger text-center" *ngIf="Collect.Error">{{Collect.Message}}</p></div> -->

          <div class="d-flex justify-content-center"  *ngIf="loading">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden" hidden>Loading...</span>
            </div>
          </div>



      </form>
    </div>
    <div class="card-footer">
      <!-- <div class="row justify-content-center">
        <button type="button" class="btn btn-primary col-sm-3" (click)="Save()" [disabled]="!formEdit.valid">Guardar</button>
      </div> -->
    </div>
  </div>
</div>
