<div class="mt-5" style="display: flex; justify-content: center !important;">
  <div class="card col-md-7">
    <div class="card-header">
      <h2 class="card-title text-center">Iniciar Sesión</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="formLogin">
        <div class="mb-4 form-floating">
          <input (keyup)="Clean()" type="email" placeholder="*" class="form-control" formControlName="Email" name="Email" [(ngModel)]="login.Email" >
          <label class="form-label">Correo</label>
        </div>
        <div class="mb-4 form-floating">
          <input (keyup)="Clean()" type="password" placeholder="*" class="form-control" formControlName="Password" name="Password" [(ngModel)]="login.Password" >
          <label class="form-label">Contraseña</label>
        </div>
        <div *ngIf="!formLogin.valid"><p class="text-danger">*Debe ingresar un correo válido y una contraseña de almenos {{minLength}} caracteres</p></div>
        <div><p class="text-danger" *ngIf="login.Error">{{login.Message}}</p></div>

        <div class="d-flex justify-content-center"  *ngIf="loading">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary col-6 col-md-3 me-md-3" (click)="SignIn()" [disabled]="!formLogin.valid || loading">Iniciar</button>
            <div class="btn btn-secondary col-6 col-md-3" (click)="UserRegister()">Registarse</div>
        </div>
      </form>
    </div>
  </div>
</div>
